<header>
  <div>
    <h1>{{ "tourist-information.heading" | translate }}</h1>
    <button (click)="useTranslate('en')">English</button>
    <button (click)="useTranslate('de')">German</button>
    <button (click)="useTranslate('fr')">Francais</button>
  </div>
  <input
    type="text"
    [(ngModel)]="query"
    [placeholder]="'tourist-information.placeholder' | translate"
  />
</header>
<div class="feed">
  <div
    class="location-item"
    *ngFor="
      let location of locationsData | filter : query;
      let indexOfElement = index
    "
  >
    <img
      [src]="'https://picsum.photos/' + indexOfElement * 10"
      alt="{{ location[0] }}"
      width="200"
      height="150"
    />
    <h2>{{ "tourist-information.name" | translate }} {{ location[0] }}</h2>
    <p>
      <b>{{ "tourist-information.branding" | translate }}</b>
      {{ location[1].branding }}
    </p>
    <p>
      <b>{{ "tourist-information.countryCode" | translate }}</b>
      {{ location[1].countryCode }}
    </p>
    <p>
      <b>{{ "tourist-information.f_enabled" | translate }}</b>
      {{ location[1].flightsEnabled }}
    </p>
  </div>
</div>
<div *ngIf="loading" class="loading-indicator">Loading...</div>
