body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

header {
  background-color: #3498db;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #fff;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.location-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.location-item h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

body::-webkit-scrollbar {
    display: none;
}
